//- details.pug
extends ./layouts/layout.pug

block content
    section.section.details
        section.content
            div.img-container
                img
                p
            div.details-container
                h1
                h2
                div.nutriments-container
                    article 
                    article 
                    article 
                    article
        section.rest-details 
            h3 Values
            ul 
                each nutrient in 
        div
