//- error404.pug
extends ./layouts/layout.pug

block content
    section.section.error404 
        img(src="/images/Question.png", alt="Question mark")
        h1 Oops! It looks like this page doesn't exist
        a(href="/") Back to homepage