//- errorPage.pug
extends ./layouts/layout.pug

block content
    section.section.errorpage
        h1 Product is not found 
        a(href="/manual") Fill in product / product code instead of
        a(href="/") Back to homepage
