//- index.pug
extends ./layouts/layout.pug

block content
    section.section.home
        h1 Food Finder
        .link_container 
            a(href="/scanner") Scan product
            a(href="/manual") Fill in product code
            