//- offline.pug
extends ./layouts/layout.pug

block content
    section.section.offline
        img(src="/images/no-signal.png")
        h1 It looks like you have no signal 
        p Try reconnecting 